.container {
  margin-top: 20px;
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 50px;
}

.textContainer {
  flex: 1;
}

.title {
  font-size: 44px;
  margin-bottom: 50px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userImageContainer {
  position: relative;
  width: 30px;
  height: 30px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.userTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.username {
  font-size: 14px;
  font-weight: 500;
}

.date{
  font-size: 14px;
}

.imageContainer {
  flex: 1;
  height: 300px;
  position: relative;
}

.image {
  object-fit: fill;
  
}

.content {
  display: flex;
  gap: 50px;
}

.post {
  flex: 4;
  margin-top: 60px;
}

.description p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
}


@media screen and (max-width: 1250px) {
  .title {
    font-size: 32px;
  }
}

@media screen and (max-width: 934px) {
  .title {
    font-size: 28px;
  }
}

@media screen and (max-width: 794px) {
  .title {
    font-size: 24px;
  }
}

@media screen and (max-width: 720px) {
  .infoContainer{
    display: block;
  }

  .imageContainer {
    margin-top: 20px;
  }

  .title {
    font-size: 30px;
  }

  .description p{
    font-size: 16px;
  }

}